<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            Love
            <br />
            Toronto
            <br />
            BUT
        </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Toronto is great, but we're splurting out the things we hate
      </div>
      <div class="col-5 links">
        <%= link_to 'Contribute', new_quote_path %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
      <%= yield %>
    </div>
    
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "This isn't enough, I need more", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Proudly hacked by <a href="https://felisakhalill.netlify.com/">[Felisa]</a><br />
            Want to build your own Splurty Web App - <a href="https://online.bootcampspot.com">Learn how to code here</a>
          </div>
          <p class="text-muted"> Place sticky footer content here.</p>
        </div>

      </div>
    </div>

  </body>
</html>
